<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GuildfordBoroughCouncil.Api.Status.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WasteCollectorAPIWebServiceSoap" maxReceivedMessageSize="1000000">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://ws.bartec-systems.com/Auth-Prod/Authenticate.asmx" binding="basicHttpBinding" bindingConfiguration="WasteCollectorAPIWebServiceSoap" contract="BartecAuth.AuthenticationAPIWebServiceSoap" name="AuthenticationAPIWebServiceSoap" />
      <endpoint address="https://ws.bartec-systems.com/API-PROD-V13-07-29/WasteCollectorAPI.asmx" binding="basicHttpBinding" bindingConfiguration="WasteCollectorAPIWebServiceSoap" contract="WasteCollectorR4.WasteCollectorAPIWebServiceSoap" name="WasteCollectorAPIWebServiceSoapR4" />
      <endpoint address="https://ws.bartec-systems.com/API-R5-PROD-v5-0-0-0/WasteCollectorAPI.asmx" binding="basicHttpBinding" bindingConfiguration="WasteCollectorAPIWebServiceSoap" contract="WasteCollectorR5.WasteCollectorAPIWebServiceSoap" name="WasteCollectorAPIWebServiceSoapR5" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <GuildfordBoroughCouncil.Api.Status.Properties.Settings>
      <setting name="WasteCollectorUsername" serializeAs="String">
        <value></value>
      </setting>
      <setting name="WasteCollectorPassword" serializeAs="String">
        <value></value>
      </setting>
    </GuildfordBoroughCouncil.Api.Status.Properties.Settings>
  </applicationSettings>
</configuration>
